<div class="center">
  <h2>InputFieldsToWord Example</h2>
<form>
  <label for="firstName">First Name</label>
  <input type="text" id="firstName" name="firstname" [(ngModel)]= "person.firstname" class="form-control"><br>
  <label for="lastname"> Last Name</label>
  <input type="text" id="lastname" name="lastname" [(ngModel)]="person.lastname" class="form-control"><br>
  <input type="button" (click)="submit()" value="Submit" style="text-align: center;background-color: green;color: white;" />
</form>
</div>